{% extends 'base.html.twig' %}

{# SETTINGS PAGE #}
{% set page_title = "Carte" %}


{% block title %}
	{{page_title}}
	|
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="menu-colonne-gauche">
		<div class="bordered-content">
			<h2>Nos Menus</h2>
            {# Menu is an array #}
            {% for menu in menus %}
			<h3>{{menu.name}}</h3>
			<h4>Entrées</h4>
			<div class="menu-gauche-donnees">{{menu.category}}</div>
			<h4>Plats</h4>
			<div class="menu-gauche-donnees"></div>
			<h4>Desserts</h4>
			<div class="menu-gauche-donnees"></div>
			<br>
            {% endfor %}
		</div>

	</div>


{% endblock %}
